<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pack.mapper.MoveMapper">    
    <select id="selectAll" resultType="LogiMoveVo">
        SELECT * 
        from Move;
    </select>
    
    <select id="selectByInstNo" parameterType="String" resultType="LogiMoveVo">
        SELECT * 
        from Move
        where instruction_no=#{instructionNo};
    </select>
    
    <select id="selectSome" parameterType="LogiMoveSearchDTO" resultType="LogiMoveVo">
    	select *
    	from Move
    	where
    	<if test='status != null and status neq "전체보기"'>status=#{status} and</if>
    	<if test='location != null and location neq "전체보기"'>location=#{location} and</if>
    	<if test='instruction_no != null and instruction_no neq "전체보기"'>instruction_no=#{instruction_no} and</if>
    	<if test='lot_no != null and lot_no neq "전체보기"'>lot_no like CONCAT('%',#{lot_no},'%') and</if>
    	<if test='item_code != null and item_code neq "전체보기"'>item_code like CONCAT('%',#{item_code},'%') and</if>
    	<if test='item_name != null and item_name neq "전체보기"'>item_name=#{item_name} and</if>
    	<if test='from_warehouse != null and from_warehouse neq "전체보기"'>from_warehouse=#{from_warehouse} and</if>
    	<if test='to_warehouse != null and to_warehouse neq "전체보기"'>to_warehouse=#{to_warehouse} and</if>
    	<if test='inst_reg_date != null and inst_reg_date neq "전체보기"'>inst_reg_date=#{inst_reg_date} and</if>
    	<if test='inst_deadline != null and inst_deadline neq "전체보기"'>inst_deadline=#{inst_deadline} and</if>
    	<if test='done_date != null and done_date neq "전체보기"'>done_date=#{done_date} and</if>
    	(weight between #{min_weight} and #{max_weight}) and
    	(width between #{min_width} and #{max_width}) and
    	(thickness between #{min_thickness} and #{max_thickness}) and
    	(height between #{min_height} and #{max_height}) and
    	(move_amount between #{min_move_amount} and #{max_move_amount})
    </select>
    
    <insert id="insert" parameterType="LogiMoveDTO">
        INSERT
        INTO Move 
        VALUES (
        	#{instruction_no},
        	#{status},
        	#{lot_no},
        	#{item_code},
        	#{item_name},
        	#{move_amount},
        	#{unit},
        	#{weight},
        	#{width},
        	#{thickness},
        	#{height},
        	#{location},
        	#{from_warehouse},
        	#{to_warehouse},
        	#{inst_reg_date},
        	#{inst_deadline},
        	#{done_date}
        );
    </insert>
    
    <insert id="inserts" parameterType="LogiMoveMulti">
    	<foreach collection="logiMoveList" item="item" index="index">
	        INSERT
	        INTO Move 
	        VALUES (
	        	#{item.instruction_no},
	        	#{item.status},
	        	#{item.lot_no},
	        	#{item.item_code},
	        	#{item.item_name},
	        	#{item.move_amount},
	        	#{item.unit},
	        	#{item.weight},
	        	#{item.width},
	        	#{item.thickness},
	        	#{item.height},
	        	#{item.location},
	        	#{item.from_warehouse},
	        	#{to_warehouse},
	        	#{item.inst_reg_date},
	        	#{inst_deadline},
	        	#{item.done_date}
	        );
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="String">
	    delete
		from Move
		where instruction_no=#{instructionNo};
    </delete>
        
    <delete id="deletes" parameterType="List">
    	<foreach collection="logiMoveDeleteList" item="instructionNo" index="index">
		    delete
			from Move
			where instruction_no=#{instructionNo};
		</foreach>
    </delete>
    
    <update id="processing" parameterType="String">
    	UPDATE Move 
    	SET status = "이동중" 
    	WHERE instruction_no=#{instructionNo};
    </update>
        
    <update id="cancels" parameterType="List">
    	<foreach collection="logiMoveList" item="instructionNo" index="index">
		    update Move
		    SET status = "이동취소"
			where instruction_no=#{instructionNo};
		</foreach>
    </update>
    
    <update id="rollback" parameterType="List">
    	<foreach collection="logiMoveList" item="instructionNo" index="index">
		    update Move
		    SET status = "이동예정"
			where instruction_no=#{instructionNo};
		</foreach>
    </update>
    
    <update id="confirm" parameterType="String">
    	UPDATE Move 
    	SET status = "이동완료", done_date= now() 
    	WHERE instruction_no=#{instructionNo};
    </update>
    <select id="selectByLotNo" parameterType="String" resultType="LogiMoveVo">
        SELECT * 
        from Move
        where lot_no=#{lot_no};
    </select>
</mapper>
